@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');
@import './vart';
@import './second';
@import './loader';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background: $bl;
}
body{
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
}
.navbitn{
    position: fixed;
    bottom: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    background: $bl;
    z-index: 4;
    border-radius: 50%;
    button{
        background: transparent;
        border: none;
        font-size: 30px;
        height: 100%;
        width: 100%;
        color: white;
        z-index: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            animation: navbtnanim 0.6s linear infinite;
        }
    }
}
@keyframes navbtnanim {
    0%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0px);
    }
}
.side-nav{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    z-index: 5;
    left: -100%;
    .navigator{
        height: 100vh;
        .ehi{
            height: 100%;
            .cn{
                span{
                    color: $bl;
                }
                button{
                    background: none;
                    font-size: 30px;
                    color: $bl;
                    border: none;
                    &:hover{
                        animation: navbtnanim 0.6s ease-out infinite;
                    }
                }
            }
        }
    }
}
.body{
    max-width: 1200px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
.modal-submit{
    width: 100%;
    float: right;
    margin: 10px 0;
}
.modal-title{
    color: $bl;
    i{
        padding-right: 10px;
        font-size: 25px;
    }
}

.hedar {
    width: calc(100vw - 10px);
    height: 100vh;
    background:#b0c9de url('../../img/elc.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    position: absolute;
    left: 0;
    top: 0px;
    margin-bottom: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    nav{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        height: 100px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 3;
        transition: all 0.6s;
        a{
            width: 100px;
            height: 100%;
            img{
                height: 100%;
            }
        }

        form {
            width: 70%;
            height: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: none;
        .input-group{
            width: 70%;
            background-color: $bl;
            border-radius: 10px;
            margin: 0px;
            button{
                border: none;
                color: white;
                font-weight: 700;
                .loca{
                    padding-right: 5px;
                }
            }
            input{
                border: none;
                background: transparent;
                color: white;
                font-weight: 600;
                &:focus{
                    background: white;
                    color: $bl;
                }
                &::placeholder{
                    color: white;
                }
            }
        }
        
        }

        ol{
            list-style: none;
            display: flex;
            height: 100%;
            width: 250px;
            justify-content: space-between;
            align-items: center;
            margin: 0px;
            li {
                a{
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 600;
                    color: $bl;
                    &:hover{
                        color: #1f5f96;
                    }
                }
            }
        }
    }
    nav.show{
        background: #ffffff94;
        backdrop-filter: blur(10px);
        @media (min-width:1201px) {
            margin: 20px;
            border-radius: 20px;
            
        }
        form{
            display: flex;
        }
    }
    

    .hero{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        align-content: center;
        position: relative  ;
        padding-top: 100px;
        overflow: hidden;
        .text{
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h1{
                font-size: 50px;
                font-weight: 700;
                text-transform: uppercase;
                color: #1f5f96;
                padding: 10px;
            }
            p{
                font-size: 20px;
            }
            form {
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
            }.input-group{
                width: 70%;
                background-color: $bl;
                border-radius: 10px;
                button{
                    border: none;
                    color: white;
                    font-weight: 700;
                    .loca{
                        padding-right: 5px;
                    }
                }
                input{
                    border: none;
                    background: transparent;
                    color: white;
                    font-weight: 600;
                    &:focus{
                        background: white;
                        color: $bl;
                    }
                    &::placeholder{
                        color: white;
                    }
                }
            }
        }
        .img{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            img{
                width: 60%;
            }
        }
    }
    
}
.app-download{
    width: 100%;
    height: 150px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #ecf6ff;
    margin: 20px 0;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    @media (max-width:1200px) {
        margin: 0px;
        border-radius: 0;
    }
    .text{
        width: 100%;
        height: 100%;
        display: flex;
        
    position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            font-size: 30px;
            font-weight: 700;
            color: #1f5f96;
        }
        p{
            font-size: 19px;
            font-weight: 700;
        }
    }
    .button{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a img{
            width: 250px;
            padding: 10px;
            &:hover{
                transform: scale(105%);
            }
        }
    }
}
.category{
    .card-design{
        border-radius: 0px;
        border: none;
        @media (min-width:1202px) {
            border-radius: 20px;
            border: 0.1px solid $bl;
        }
    }
    .card-group{
        display: flex;
        justify-content: center;
        .one{
            display: flex;
            justify-content: center;
        }
    }
    .card-header{
        border: none;
        h1{
            font-size: 30px;
            font-weight: 700;
            color: #1f5f96;
            text-transform: capitalize;
        }
    }
    .card-category{
        width: 130px;
        height: 130px;
        position: relative;
        text-decoration: none;
        text-align: center;
        margin: 20px;
        filter: drop-shadow(3px 3px 2px rgb(190, 190, 190));
        &:hover{
            transform: translateX(-4px) scale(105%);
            filter: drop-shadow(6px 6px 5px rgb(103, 103, 103));
        }
        
        img{
            height: 90px;
        }
        h1{
            font-size: 20px;
            color: #1f5f96;
            margin-top: 10px;
            text-transform: capitalize;
        }
    }
}